node-red/flows.json
[{"id":"0f0672592efd3c95","type":"tab","label":"Alarm Martin","disabled":true,"info":"","env":[]},{"id":"fb1becd648bb385b","type":"tab","label":"Alarm Matilde","disabled":false,"info":"","env":[]},{"id":"ff512177f1c8c3a9","type":"tab","label":"Flow 1","disabled":true,"info":"","env":[]},{"id":"1b100f4cd74cc6f3","type":"tab","label":"Flow 2","disabled":true,"info":"","env":[]},{"id":"16a3fda549b955dd","type":"tab","label":"Flow 3","disabled":true,"info":"","env":[]},{"id":"57ff190c.2282f8","type":"tab","label":"Android Alarm Sync","disabled":true,"info":"![enter image description here](https://notenoughtech.com/wp-content/uploads/2020/01/maxresdefault-2.jpg)\nNow you can sync Android alarms with NodeRED. If you ever wanted to trigger a home automation event before your alarm goes off, this is the way to do this! Simply set the alarm on your Android mobile phone and you will have the alarm data available on your server.\n\n  [Complete instructions]([https://notenoughtech.com/tasker/how-to-sync-android-alarm-with-nodered/](https://notenoughtech.com/tasker/how-to-sync-android-alarm-with-nodered/))\n\n\n**Features**:\n- alarm time\n- alarm date\n- repeat schedule    \n-   alarm state (enabled or not)    \n-   alarm label*    \n-   support for unlimited alarms    \n-   support for multiple phones    \n-   values ready for NodeRED timers    \n-   update and delete actions    \n-   dynamic dashboard\n\nDEMO: [https://www.instagram.com/p/B7Bf1gAnHWF/](https://www.instagram.com/p/B7Bf1gAnHWF/)\n\n## Requirements:\n\n - [node-red-dashboard](https://flows.nodered.org/node/node-red-dashboard)\n - [Tasker](https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm&hl=en_GB)\n \nDownload [TaskerNet Project](https://taskernet.com/shares/?user=AS35m8mukRNi0KvTv9JF6LyKMewcG%2bW7EzpF3a/GvwJJTFwWQ1%2bU3QCMEmxTS/07urNK/TAL&id=Project:Alarm%20Sync)\n\n## More about me:\n\nIf you want to get the latest updates to this project you can follow me via your preferred social media:\n\n-   [Facebook](https://www.facebook.com/NotEnoughTECH/)\n-   [Twitter](https://twitter.com/NotEnoughTECH)\n-   [Instagram](https://www.instagram.com/notenoughtech/)\n-   [YouTube](https://www.youtube.com/user/Polepositionpage)\n\nAnd if you feeling like buying me a coffee or supporting me in a more continuous way:\n\n-   [Paypal](https://www.paypal.me/notenoughtech)\n-   [Patreon](https://www.patreon.com/NotEnoughTECH)\n\nI hope you have enjoyed the project!"},{"id":"64d0751b00952852","type":"tab","label":"Main Door state","disabled":false,"info":"","env":[]},{"id":"36a52212.74ceee","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"302c2887346612e1","type":"server-state-changed","z":"0f0672592efd3c95","name":"Next Alarm","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.alarm_martin","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":320,"wires":[["0d60e8b254b3d745"],["e7e5817ad3b3d56c"]]},{"id":"e7e5817ad3b3d56c","type":"change","z":"0f0672592efd3c95","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":380,"wires":[["ed7712d1d0e675d6"]]},{"id":"0d60e8b254b3d745","type":"function","z":"0f0672592efd3c95","name":"time difference","func":"const now = Date.now();\nconst alarm = new Date(msg.payload);\n\nalarm.setMinutes(alarm.getMinutes() - 30);\n\nconst timeDifference = alarm - now;\n\nmsg.delay = timeDifference;\n\n// Reset the delay node before setting the new delay\nreturn [[{reset: true},msg]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["ed7712d1d0e675d6"]]},{"id":"ed7712d1d0e675d6","type":"delay","z":"0f0672592efd3c95","name":"wait until time","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":340,"wires":[["897d861e08a25e49","28653e32100620c8"]]},{"id":"897d861e08a25e49","type":"debug","z":"0f0672592efd3c95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":40,"wires":[]},{"id":"a96c811cfb3df86b","type":"looptimer","z":"0f0672592efd3c95","duration":"20","units":"Second","maxloops":"100","maxtimeout":"35","maxtimeoutunits":"Minute","name":"","x":1920,"y":220,"wires":[["fc67eba0ef31db9f"],[]]},{"id":"d568718fe65ca152","type":"api-call-service","z":"0f0672592efd3c95","name":"Increase light","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_adult","data":"{\"brightness_step_pct\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":2310,"y":300,"wires":[["dff48cd8ab8257ac"]],"icon":"node-red/light.svg"},{"id":"abf6cc5453363738","type":"api-current-state","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_adult","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1920,"y":340,"wires":[["358b804c14568c0c","fc67eba0ef31db9f"]]},{"id":"358b804c14568c0c","type":"debug","z":"0f0672592efd3c95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":2180,"y":380,"wires":[]},{"id":"979871004491b6cd","type":"inject","z":"0f0672592efd3c95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":340,"wires":[["abf6cc5453363738"]]},{"id":"85cd13b8f759c32d","type":"switch","z":"0f0672592efd3c95","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":220,"wires":[["d7ea57effa9b4d4b"],["a96c811cfb3df86b"]]},{"id":"075fb91c62e77d59","type":"api-current-state","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_adult","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1480,"y":300,"wires":[["85cd13b8f759c32d"]]},{"id":"da2a66553e33ef7a","type":"inject","z":"0f0672592efd3c95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1260,"y":340,"wires":[["075fb91c62e77d59"]]},{"id":"d7ea57effa9b4d4b","type":"api-call-service","z":"0f0672592efd3c95","name":"turn on low","server":"36a52212.74ceee","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_adult","data":"{\"brightness\":\"1\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1750,"y":160,"wires":[["a96c811cfb3df86b"]]},{"id":"dff48cd8ab8257ac","type":"debug","z":"0f0672592efd3c95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2580,"y":240,"wires":[]},{"id":"fc67eba0ef31db9f","type":"switch","z":"0f0672592efd3c95","name":"","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"lt","v":"255","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2130,"y":260,"wires":[["d568718fe65ca152"]]},{"id":"99cbcf9af5024768","type":"delay","z":"0f0672592efd3c95","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":970,"y":440,"wires":[["9b84b0d90559bbd7"]]},{"id":"9b84b0d90559bbd7","type":"api-call-service","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.sov_voksen","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":440,"wires":[["51b8e113b086d7e8"]]},{"id":"51b8e113b086d7e8","type":"api-call-service","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.sov_voksen","data":"{\"volume_level\":0.3}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":440,"wires":[["00a00905f09d4607"]]},{"id":"00a00905f09d4607","type":"api-call-service","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.sov_voksen","data":"{\"media_content_id\":\"http://lyd.nrk.no/nrk_radio_p3_mp3_h\",\"media_content_type\":\"music\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1790,"y":440,"wires":[[]]},{"id":"2e53cfbdfac239d6","type":"inject","z":"0f0672592efd3c95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":960,"y":520,"wires":[["9b84b0d90559bbd7"]]},{"id":"c026749ee4bd261b","type":"inject","z":"0f0672592efd3c95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":640,"wires":[["204e783455d94e81"]]},{"id":"204e783455d94e81","type":"api-call-service","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.sov_voksen","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":640,"wires":[[]]},{"id":"0e706fa94ea7b7ec","type":"api-current-state","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.alarm_martin_activa","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":480,"wires":[["28653e32100620c8"]]},{"id":"28653e32100620c8","type":"switch","z":"0f0672592efd3c95","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":340,"wires":[["85cd13b8f759c32d","99cbcf9af5024768","bda494df039d5c29"]]},{"id":"bda494df039d5c29","type":"api-call-service","z":"0f0672592efd3c95","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm_martin_state","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":200,"wires":[[]]},{"id":"96ef972f74972dfd","type":"server-state-changed","z":"fb1becd648bb385b","name":"Alarm Time","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.alarm_matilde","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":90,"y":200,"wires":[["072a19d7713d0f01"],["f75d3fd0ffcb45ea"]]},{"id":"f6788eb8253d787c","type":"function","z":"fb1becd648bb385b","name":"time difference","func":"const now = Date.now();\n\nhour = (msg.time[0] + msg.time[1])\nminute = (msg.time[3] + msg.time[4])\nlet alarm = new Date(now);\nalarm.setHours(hour, minute);\n\nalarm_time = alarm.getTime()\nprepone = Math.round(msg.prepone)\nalarm.setMinutes(alarm.getMinutes() - prepone);\n\nlet td = alarm_time - now;\nif (td < 0){\n    alarm.setDate(alarm.getDate()+1);\n}\n\nif (msg.when == \"Hverdager når hjemme\"){\n    while (alarm.getDay() == 6 || alarm.getDay() == 0) alarm.setDate(alarm.getDate() + 1);\n}\n\n\n\n//alarm_time = alarm.getTime()\nconst time_difference = alarm - now;\n\nmsg.day = alarm.getDay()\nmsg.now = now\nmsg.alarm_time = alarm_time\nmsg.minute = minute\nmsg.hour = hour\nmsg.delay = time_difference\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":240,"wires":[["ef8f661d47843d84"]]},{"id":"ef8f661d47843d84","type":"delay","z":"fb1becd648bb385b","name":"wait until time","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1200,"y":300,"wires":[["234c956023544211"]]},{"id":"9703b7086f3338d3","type":"api-call-service","z":"fb1becd648bb385b","name":"Increase light","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_matilde","data":"{\"brightness_step_pct\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":2050,"y":720,"wires":[["edaba98b31461dd1","c980336991675cbf"]],"icon":"node-red/light.svg"},{"id":"2fd23f03f298060b","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1650,"y":720,"wires":[["b827cdabea13ba55"]]},{"id":"406f735513eb9a2f","type":"switch","z":"fb1becd648bb385b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":740,"wires":[["a8cd99b3a878436a"],["1fa06f8d1bdf0575"]]},{"id":"b82d5d38f9539967","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":740,"wires":[["406f735513eb9a2f"]]},{"id":"a8cd99b3a878436a","type":"api-call-service","z":"fb1becd648bb385b","name":"turn on low","server":"36a52212.74ceee","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_matilde","data":"{\"brightness\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1010,"y":660,"wires":[["1fa06f8d1bdf0575"]]},{"id":"edaba98b31461dd1","type":"debug","z":"fb1becd648bb385b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2270,"y":680,"wires":[]},{"id":"b827cdabea13ba55","type":"switch","z":"fb1becd648bb385b","name":"","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"lt","v":"255","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1890,"y":720,"wires":[["9703b7086f3338d3"]]},{"id":"43644d534985a11a","type":"delay","z":"fb1becd648bb385b","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1100,"wires":[["702866a039ac50a5"]]},{"id":"702866a039ac50a5","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.sov_matilde","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":1160,"wires":[["1950f2429d7aeb00"]]},{"id":"1950f2429d7aeb00","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.sov_matilde","data":"{\"volume_level\":0.3}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":1160,"wires":[["2ce8e495e304a868"]]},{"id":"2ce8e495e304a868","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.sov_matilde","data":"{\"media_content_id\":\"http://lyd.nrk.no/nrk_radio_p3_mp3_h\",\"media_content_type\":\"music\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":1160,"wires":[[]]},{"id":"f91c479bd092418a","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1240,"wires":[["702866a039ac50a5"]]},{"id":"f0b3050f4e4a8828","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.sov_matilde","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":1680,"wires":[[]]},{"id":"0d92bfe2f35ebfd3","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1680,"y":180,"wires":[["e3b808309243f5eb"]]},{"id":"e3b808309243f5eb","type":"switch","z":"fb1becd648bb385b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1890,"y":180,"wires":[["06cd0cd5f42ac6ce"]]},{"id":"10d68d7199bc6cda","type":"server-state-changed","z":"fb1becd648bb385b","name":"Alarm Condition","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.alarm_matilde_active","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":100,"y":280,"wires":[["072a19d7713d0f01"],["f75d3fd0ffcb45ea"]]},{"id":"ca6d63b862e0693b","type":"switch","z":"fb1becd648bb385b","name":"","property":"when","propertyType":"msg","rules":[{"t":"neq","v":"Av","vt":"str"},{"t":"eq","v":"Hverdager når hjemme","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":220,"wires":[["0d92bfe2f35ebfd3"],["6d6309cd2223a344"]]},{"id":"1a68e2c099d89f6f","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":40,"wires":[["072a19d7713d0f01"]]},{"id":"42e562f56b6690e2","type":"api-call-service","z":"fb1becd648bb385b","name":"Alarm state high","server":"36a52212.74ceee","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm_matilde_state","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":600,"wires":[[]]},{"id":"3bb7a87a1a5ecde3","type":"function","z":"fb1becd648bb385b","name":"media_player","func":"msg.media_player = \"media_player.sov_matilde\"\nmsg.light = \"light.bedroom_matilde\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":580,"wires":[[]]},{"id":"736698fe09dde6fe","type":"server-state-changed","z":"fb1becd648bb385b","name":"Alarm Prepone","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.alarm_matilde_duration","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":100,"y":240,"wires":[["072a19d7713d0f01"],["f75d3fd0ffcb45ea"]]},{"id":"104c4c431ffada3c","type":"debug","z":"fb1becd648bb385b","name":"When","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"when","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":280,"wires":[]},{"id":"072a19d7713d0f01","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_datetime.alarm_matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":140,"wires":[["63360258c53e5f7d"],[]]},{"id":"63360258c53e5f7d","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_number.alarm_matilde_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"prepone","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":200,"wires":[["7459a6882ec5333f"],[]]},{"id":"7459a6882ec5333f","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.alarm_matilde_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"when","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":260,"wires":[["104c4c431ffada3c","f6788eb8253d787c"],[]]},{"id":"234c956023544211","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.alarm_matilde_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"when","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":120,"wires":[["ca6d63b862e0693b"],[]]},{"id":"f75d3fd0ffcb45ea","type":"change","z":"fb1becd648bb385b","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["a9974d6cc3ec5a2a","ef8f661d47843d84"]]},{"id":"a9974d6cc3ec5a2a","type":"debug","z":"fb1becd648bb385b","name":"reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"reset","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":360,"wires":[]},{"id":"c980336991675cbf","type":"debug","z":"fb1becd648bb385b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":760,"wires":[]},{"id":"1fa06f8d1bdf0575","type":"looptimer-advanced","z":"fb1becd648bb385b","duration":"5","units":"Second","maxloops":"20","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":1220,"y":720,"wires":[["2fd23f03f298060b"],["e48d10e868911543"]]},{"id":"e48d10e868911543","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_number.alarm_matilde_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"prepone","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":840,"wires":[["c7a4c9bc2cbc6776"],[]]},{"id":"c7a4c9bc2cbc6776","type":"function","z":"fb1becd648bb385b","name":"","func":"\n\nmsg.loop.maxloops=100\nmsg.loop.duration=Math.round(msg.prepone*60/msg.loop.maxloops)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":840,"wires":[["1fa06f8d1bdf0575"]]},{"id":"e19a08781500132a","type":"server-state-changed","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.alarm_matilde_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":1680,"wires":[["f0b3050f4e4a8828"],[]]},{"id":"443e99a67c126b37","type":"link in","z":"fb1becd648bb385b","name":"Restart flow out","links":["6d6309cd2223a344"],"x":335,"y":140,"wires":[["072a19d7713d0f01"]]},{"id":"6d6309cd2223a344","type":"link out","z":"fb1becd648bb385b","name":"Restart flow in","mode":"link","links":["443e99a67c126b37"],"x":1575,"y":220,"wires":[]},{"id":"78da38eeb2c75f28","type":"comment","z":"fb1becd648bb385b","name":"Triggers","info":"","x":80,"y":160,"wires":[]},{"id":"1e54f9c04bc9bcd1","type":"comment","z":"fb1becd648bb385b","name":"Get states","info":"","x":520,"y":100,"wires":[]},{"id":"8339568ece744342","type":"comment","z":"fb1becd648bb385b","name":"Calculate time","info":"","x":970,"y":200,"wires":[]},{"id":"0cf7fdb8b504dac2","type":"comment","z":"fb1becd648bb385b","name":"Delay function","info":"","x":1190,"y":260,"wires":[]},{"id":"cfc60ff2b69dd357","type":"comment","z":"fb1becd648bb385b","name":"Check alarm active","info":"","x":1250,"y":80,"wires":[]},{"id":"8cefa9b2af324c4c","type":"comment","z":"fb1becd648bb385b","name":"Check home state","info":"","x":1670,"y":140,"wires":[]},{"id":"060dabb6a9db3348","type":"link in","z":"fb1becd648bb385b","name":"Start alarm out1","links":["06cd0cd5f42ac6ce"],"x":285,"y":600,"wires":[["42e562f56b6690e2"]]},{"id":"26ba7e920571100b","type":"comment","z":"fb1becd648bb385b","name":"Set alarm state","info":"","x":340,"y":560,"wires":[]},{"id":"de860fc4bdec130c","type":"comment","z":"fb1becd648bb385b","name":"Stop alarm","info":"","x":310,"y":1640,"wires":[]},{"id":"06cd0cd5f42ac6ce","type":"link out","z":"fb1becd648bb385b","name":"Start alarm in","mode":"link","links":["060dabb6a9db3348","40b309301a748a05","6206236642732fdb"],"x":2045,"y":180,"wires":[]},{"id":"40b309301a748a05","type":"link in","z":"fb1becd648bb385b","name":"Start alarm out2","links":["06cd0cd5f42ac6ce"],"x":275,"y":740,"wires":[["b82d5d38f9539967"]]},{"id":"6206236642732fdb","type":"link in","z":"fb1becd648bb385b","name":"Start alarm out3","links":["06cd0cd5f42ac6ce"],"x":275,"y":1100,"wires":[["43644d534985a11a"]]},{"id":"55fd9d8cafc09b49","type":"comment","z":"fb1becd648bb385b","name":"Start alarm light sequence","info":"","x":370,"y":700,"wires":[]},{"id":"0b1e7fd74b205c96","type":"comment","z":"fb1becd648bb385b","name":"Radio sequence","info":"","x":340,"y":1040,"wires":[]},{"id":"4e372028.b4791","type":"comment","z":"ff512177f1c8c3a9","name":"TRIGGER ALARM CLOCK","info":"","x":790,"y":160,"wires":[]},{"id":"73ca6a3d.3cf8a4","type":"join","z":"ff512177f1c8c3a9","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":180,"wires":[["9462cd.30c15d3"]]},{"id":"9462cd.30c15d3","type":"function","z":"ff512177f1c8c3a9","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1500,"y":240,"wires":[["d904ad6c.e2029"]]},{"id":"d904ad6c.e2029","type":"switch","z":"ff512177f1c8c3a9","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":300,"wires":[["b1dc52e6.c21ce"]]},{"id":"fafca638.544048","type":"api-current-state","z":"ff512177f1c8c3a9","name":"Alarm Clock ON?","server":"","version":2,"outputs":1,"halt_if":"off","halt_if_compare":"is","entity_id":"input_boolean.house_option_alarmclock","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":950,"y":220,"wires":[["fac779fe.d8a4d8","4071e699.ff3108"]]},{"id":"fac779fe.d8a4d8","type":"api-current-state","z":"ff512177f1c8c3a9","name":"Get Alarm Time","server":"","version":2,"outputs":1,"halt_if":"","halt_if_compare":"is","entity_id":"input_datetime.alarm_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1240,"y":300,"wires":[["340a1e69.297a02"]]},{"id":"4071e699.ff3108","type":"moment","z":"ff512177f1c8c3a9","name":"Current Time","topic":"","input":"payload","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":"0","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":1250,"y":180,"wires":[["73ca6a3d.3cf8a4"]]},{"id":"1791d486.5d335b","type":"inject","z":"ff512177f1c8c3a9","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":750,"y":220,"wires":[["fafca638.544048"]]},{"id":"340a1e69.297a02","type":"moment","z":"ff512177f1c8c3a9","name":"Alarm - 10min","topic":"","input":"payload","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":1240,"y":240,"wires":[["73ca6a3d.3cf8a4"]]},{"id":"b1dc52e6.c21ce","type":"api-call-service","z":"ff512177f1c8c3a9","name":"House State - Waking Up","server":"","version":3,"service_domain":"variable","service":"set_variable","entityId":"","data":"{\"variable\":\"house_state\",\"value\":\"Waking Up\"}","mergecontext":"","outputProperties":[{"value":"","valueType":"data"}],"queue":"none","x":1790,"y":240,"wires":[[]]},{"id":"d26f0bd9.11ac78","type":"comment","z":"ff512177f1c8c3a9","name":"START ALARM CLOCK SEQUENCE","info":"","x":830,"y":400,"wires":[]},{"id":"8d7dafcd.b542e","type":"comment","z":"ff512177f1c8c3a9","name":"Make Coffee","info":"","x":1170,"y":580,"wires":[]},{"id":"e2193462.cd6618","type":"comment","z":"ff512177f1c8c3a9","name":"Set Initial Flow Variables","info":"","x":1210,"y":460,"wires":[]},{"id":"7fecfc93.b50954","type":"api-current-state","z":"ff512177f1c8c3a9","name":"Radio?","server":"","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_alarmclock_radio","state_type":"str","override_topic":true,"override_payload":true,"override_data":true,"x":1160,"y":720,"wires":[["4f5927db.4f6f08"]]},{"id":"262165d6.25b30a","type":"comment","z":"ff512177f1c8c3a9","name":"LOOP LOGIC ","info":"","x":750,"y":880,"wires":[]},{"id":"deb9f2e2.32eef","type":"comment","z":"ff512177f1c8c3a9","name":"Snooze Button Actions","info":"","x":1480,"y":1300,"wires":[]},{"id":"d956cbf1.1945d8","type":"comment","z":"ff512177f1c8c3a9","name":"Finish Alarm Sequence","info":"","x":2200,"y":1060,"wires":[]},{"id":"26086923.380b06","type":"comment","z":"ff512177f1c8c3a9","name":"Snooze Timer","info":"","x":1170,"y":1380,"wires":[]},{"id":"f08c6f0d.6d80a","type":"change","z":"ff512177f1c8c3a9","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1040,"wires":[["d10b2b40.718e08","2159c5f2.55519a"]]},{"id":"3d075eea.ebf6b2","type":"server-state-changed","z":"ff512177f1c8c3a9","name":"Snooze On","server":"","entityidfilter":"input_boolean.house_alarmclock_snooze","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":960,"y":1340,"wires":[["f08c6f0d.6d80a","94a76075.3f98f","2c19a40e.98c15c"]]},{"id":"d10b2b40.718e08","type":"traffic","z":"ff512177f1c8c3a9","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1330,"y":920,"wires":[["67780497.7f3c4c"]]},{"id":"1bf4eca4.1c7a93","type":"link in","z":"ff512177f1c8c3a9","name":"","links":["7ab54afd.e9dca4"],"x":1295,"y":1040,"wires":[["f08c6f0d.6d80a"]]},{"id":"94a76075.3f98f","type":"function","z":"ff512177f1c8c3a9","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 30);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":1500,"y":1340,"wires":[["689a0948.31c8b8","14e985b2.52798a","7cc8399.ae9c0c8"]]},{"id":"2c19a40e.98c15c","type":"delay","z":"ff512177f1c8c3a9","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1160,"y":1420,"wires":[["b501f39d.600e3"]]},{"id":"d0cdc13f.e93d1","type":"inject","z":"ff512177f1c8c3a9","name":"Brightness ---->","props":[{"p":"payload","v":"brightness","vt":"flow"},{"p":"topic","v":"","vt":"str"}],"repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"brightness","payloadType":"flow","x":930,"y":980,"wires":[["d10b2b40.718e08"]]},{"id":"67780497.7f3c4c","type":"function","z":"ff512177f1c8c3a9","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1560,"y":900,"wires":[["c76d36be.ce4738","21cabab2.450156"]]},{"id":"2a00765b.555a1a","type":"change","z":"ff512177f1c8c3a9","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":920,"wires":[["d10b2b40.718e08","2159c5f2.55519a"]]},{"id":"689a0948.31c8b8","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Turn Off Entry Light","server":"","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entry\"}","mergecontext":"","x":1790,"y":1280,"wires":[[]]},{"id":"14e985b2.52798a","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Turn Off Bedroom Light","server":"","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bedroom\"}","mergecontext":"","x":1810,"y":1340,"wires":[[]]},{"id":"b501f39d.600e3","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Snooze Off (Restart Loop)","server":"","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"input_boolean.house_alarmclock_snooze\"}","mergecontext":"","x":1490,"y":1420,"wires":[["366e956a.9957fa"]]},{"id":"c76d36be.ce4738","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Turn On Entry Light","server":"","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entry\",\"rgb_color\":[255,255,255]}","mergecontext":"","x":1790,"y":940,"wires":[["ac3b2d7a.d717"]]},{"id":"21cabab2.450156","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Turn On Bedroom Light","server":"","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom\",\"rgb_color\":[255,255,255]}","mergecontext":"","x":1810,"y":1020,"wires":[[]]},{"id":"94e22da.1027ad","type":"switch","z":"ff512177f1c8c3a9","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Waking Up","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":600,"wires":[["2a00765b.555a1a","8ccd1d8f.c0edf","a8750407.ebb1a8","7fecfc93.b50954"]]},{"id":"357de059.75d57","type":"server-state-changed","z":"ff512177f1c8c3a9","name":"Snooze Off","server":"","version":3,"entityidfilter":"input_boolean.house_alarmclock_snooze","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":960,"y":920,"wires":[["2a00765b.555a1a"]]},{"id":"ac3b2d7a.d717","type":"function","z":"ff512177f1c8c3a9","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":2060,"y":940,"wires":[["f8a224e3.36da38"]]},{"id":"92731a6b.994ce8","type":"server-state-changed","z":"ff512177f1c8c3a9","name":"Wake Up House","server":"","version":3,"entityidfilter":"variable.house_state","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":760,"y":460,"wires":[["94e22da.1027ad"]]},{"id":"8ccd1d8f.c0edf","type":"api-current-state","z":"ff512177f1c8c3a9","name":"Coffee?","server":"","outputs":1,"halt_if":"","entity_id":"sensor.coffeemaker","override_topic":true,"override_payload":true,"override_data":true,"x":1160,"y":620,"wires":[["592c8979.104358"]]},{"id":"a8750407.ebb1a8","type":"function","z":"ff512177f1c8c3a9","name":"Initialize Brightness / Volume to 0","func":"flow.set(\"brightness\", 1);\nflow.set(\"volume\", 0.0);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":1240,"y":500,"wires":[[]]},{"id":"f8a224e3.36da38","type":"switch","z":"ff512177f1c8c3a9","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2180,"y":1000,"wires":[["7ab54afd.e9dca4"]]},{"id":"592c8979.104358","type":"switch","z":"ff512177f1c8c3a9","name":"Ready","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ready","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":620,"wires":[["5aadddad.cbf4a4"]]},{"id":"7c64e529.5da1cc","type":"inject","z":"ff512177f1c8c3a9","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1490,"y":500,"wires":[["a8750407.ebb1a8"]]},{"id":"7ab54afd.e9dca4","type":"link out","z":"ff512177f1c8c3a9","name":"FINISH ALARM SEQUENCE!","links":["1bf4eca4.1c7a93","45deb28f.3cb32c"],"x":2075,"y":1060,"wires":[]},{"id":"5aadddad.cbf4a4","type":"delay","z":"ff512177f1c8c3a9","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1440,"y":620,"wires":[["78ef44b6.b5e70c"]]},{"id":"78ef44b6.b5e70c","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Make Coffee","server":"","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.coffeemaker\"}","mergecontext":"","x":1610,"y":620,"wires":[[]]},{"id":"429aadb.c9f6154","type":"comment","z":"ff512177f1c8c3a9","name":"LIGHTING","info":"","x":1540,"y":940,"wires":[]},{"id":"2159c5f2.55519a","type":"traffic","z":"ff512177f1c8c3a9","name":"Turn Up Volume","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1320,"y":1120,"wires":[["657333f1.7909fc"]]},{"id":"fad957dd.6dd4a8","type":"inject","z":"ff512177f1c8c3a9","name":"Volume ---->","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"volume","payloadType":"flow","x":940,"y":1120,"wires":[["43ea908e.3c395"]]},{"id":"657333f1.7909fc","type":"function","z":"ff512177f1c8c3a9","name":"Set Volume","func":"newmsg = {};\nvar volume = flow.get(\"volume\");\n\nnewmsg.payload = { data: { \"volume_level\":volume} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1530,"y":1120,"wires":[["9af407f9.c86bf8"]]},{"id":"9af407f9.c86bf8","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Kitchen Alexa","server":"","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen\"}","mergecontext":"","x":1780,"y":1120,"wires":[["80a72f1d.6b7e2"]]},{"id":"80a72f1d.6b7e2","type":"function","z":"ff512177f1c8c3a9","name":"Increment Volume","func":"var volume = flow.get('volume')||0.0;\n\nif (volume < 0.75) {\n    volume = volume + 0.05;\n    flow.set(\"volume\", volume);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":2050,"y":1120,"wires":[[]]},{"id":"8731eb87.10b2b8","type":"comment","z":"ff512177f1c8c3a9","name":"SNOOZE!","info":"","x":740,"y":1200,"wires":[]},{"id":"4dafac18.270c34","type":"comment","z":"ff512177f1c8c3a9","name":"VOLUME","info":"","x":1540,"y":1060,"wires":[]},{"id":"9cde2a65.b70278","type":"comment","z":"ff512177f1c8c3a9","name":"Turn on Radio","info":"","x":1170,"y":680,"wires":[]},{"id":"43ea908e.3c395","type":"api-current-state","z":"ff512177f1c8c3a9","name":"Radio?","server":"","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_alarmclock_radio","state_type":"str","override_topic":true,"override_payload":true,"override_data":true,"x":1140,"y":1120,"wires":[["2159c5f2.55519a"]]},{"id":"4f5927db.4f6f08","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Volume","server":"","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen\",\"volume_level\":0}","mergecontext":"","x":1320,"y":720,"wires":[["ab5dfbde.ed7e48"]]},{"id":"ec5ccdb0.7df88","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Play NPR","server":"","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.kitchen\",\"media_content_id\":\"K Q E D\",\"media_content_type\":\"TUNEIN\"}","mergecontext":"","x":1620,"y":720,"wires":[["cfc6a2a9.7cac8"]]},{"id":"ab5dfbde.ed7e48","type":"change","z":"ff512177f1c8c3a9","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":720,"wires":[["ec5ccdb0.7df88"]]},{"id":"7cc8399.ae9c0c8","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Pause Radio","server":"","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.kitchen\"}","mergecontext":"","x":1770,"y":1400,"wires":[["e2d7f0f1.8ce89"]]},{"id":"366e956a.9957fa","type":"change","z":"ff512177f1c8c3a9","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1480,"wires":[["84babc62.ad05d"]]},{"id":"84babc62.ad05d","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Play","server":"","service_domain":"media_player","service":"media_play","data":"{\"entity_id\":\"media_player.kitchen\"}","mergecontext":"","x":1750,"y":1480,"wires":[[]]},{"id":"e2d7f0f1.8ce89","type":"change","z":"ff512177f1c8c3a9","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":1400,"wires":[["f1d88296.5e1ba"]]},{"id":"f1d88296.5e1ba","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Volume","server":"","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen\",\"volume_level\":0.3}","mergecontext":"","x":2080,"y":1400,"wires":[[]]},{"id":"aa63a8fc.5dab58","type":"mqtt in","z":"ff512177f1c8c3a9","name":"Bedroom Button","topic":"zigbee2mqtt/bedroom_button","qos":"2","broker":"","inputs":0,"x":1180,"y":1560,"wires":[["91c5aee9.01081"]]},{"id":"91c5aee9.01081","type":"api-current-state","z":"ff512177f1c8c3a9","name":"Waking Up?","server":"","outputs":1,"halt_if":"Waking Up","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"variable.house_state","state_type":"str","override_topic":true,"override_payload":true,"override_data":true,"x":1390,"y":1560,"wires":[["e0806e1e.e5e97"]]},{"id":"e0806e1e.e5e97","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Snooze On","server":"","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"input_boolean.house_alarmclock_snooze\"}","mergecontext":"","x":1570,"y":1560,"wires":[[]]},{"id":"e7355a75.1a9328","type":"comment","z":"ff512177f1c8c3a9","name":"Snooze Button","info":"","x":1180,"y":1520,"wires":[]},{"id":"cfc6a2a9.7cac8","type":"change","z":"ff512177f1c8c3a9","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":720,"wires":[["c5bcb252.89ad9"]]},{"id":"c5bcb252.89ad9","type":"api-call-service","z":"ff512177f1c8c3a9","name":"Volume","server":"","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen\",\"volume_level\":0}","mergecontext":"","x":1880,"y":720,"wires":[[]]},{"id":"4377758feaed7691","type":"server-state-changed","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":880,"y":240,"wires":[["463f7f2c1dba3d51"],[]]},{"id":"463f7f2c1dba3d51","type":"api-current-state","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.alarm_time","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"alarm","override_payload":"msg","entity_location":"data","override_data":"msg","x":1039,"y":292,"wires":[["2585b497e70069bd"]]},{"id":"2585b497e70069bd","type":"function","z":"1b100f4cd74cc6f3","name":"Video Function","func":"msg.hour = (msg.alarm[0] + msg.alarm[1])\nmsg.minute = (msg.alarm[3] + msg.alarm[4])\n\nmsg.minute = Number(msg.minute) - 30\n\nif(msg.minute<0){\n    msg.hour = Number(msg.hour)-1\n    msg.minute = 60 + msg.minute\n}\nif(msg.minute<10){\n    msg.minute = \"0\" + String(msg.minute)\n}\nif(msg.hour == \"-1\"){\n    msg.hour = \"23\"\n}\nmsg.start = msg.hour + \":\" + msg.minute\n\nif(msg.start.length == 4){\n    msg.start = \"0\" + msg.start\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1025,"y":356,"wires":[["88dfa06bae3cd85f","ab7c022e36fa3085"]]},{"id":"88dfa06bae3cd85f","type":"ha-wait-until","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","outputs":1,"entityId":"sensor.time","entityIdFilterType":"exact","property":"state","comparator":"is","value":"start","valueType":"msg","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1151,"y":407,"wires":[["b8db043b80ec0d9e","33d4e5ed0446c438"]]},{"id":"b8db043b80ec0d9e","type":"api-call-service","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"{\"brightness\":1,\"color_temp\":500}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1438,"y":240,"wires":[["f0dc78395df9409a"]]},{"id":"f0dc78395df9409a","type":"api-call-service","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"{\"brightness\":255,\"color_temp\":143,\"transition\":1800}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1457,"y":283,"wires":[[]]},{"id":"33d4e5ed0446c438","type":"delay","z":"1b100f4cd74cc6f3","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1063,"y":516,"wires":[["bc4d88f59790fd87"]]},{"id":"bc4d88f59790fd87","type":"api-call-service","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_bedroom_spot","entityId":"","data":"{\"message\":\"10 Minutes left in bed!\",\"data\":{\"type\":\"announce\"},\"target\":\"{{service}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1082,"y":570,"wires":[["31e69d3e70682aab"]]},{"id":"31e69d3e70682aab","type":"delay","z":"1b100f4cd74cc6f3","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1063,"y":623,"wires":[["2da89cd8bfb808c6"]]},{"id":"2da89cd8bfb808c6","type":"api-call-service","z":"1b100f4cd74cc6f3","name":"","server":"36a52212.74ceee","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_bedroom_spot","entityId":"","data":"{\"message\":\"Time to get up now!\",\"data\":{\"type\":\"announce\"},\"target\":\"{{service}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":1056,"y":665,"wires":[[]]},{"id":"ab7c022e36fa3085","type":"debug","z":"1b100f4cd74cc6f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1214,"y":345,"wires":[]},{"id":"aed45140230af767","type":"comment","z":"1b100f4cd74cc6f3","name":"Alarm","info":"","x":740,"y":163,"wires":[]},{"id":"77879760e53225ad","type":"function","z":"1b100f4cd74cc6f3","name":"Better Function","func":"// New variable (date = date + time), .substring gets the first 4 characters of the msg\nvar d = new Date(\"2020-09-05 \" + msg.alarm.substring(0,5));\n\n// Set the minutes of d to the minutes of alarm, minus 30\nd.setMinutes(d.getMinutes() - 30);\n\n// Reformat a bit - add leading zero, hours, colon\nmsg.start =  ('0' + (d.getHours())).slice(-2) + \":\" + ('0' + (d.getMinutes())).slice(-2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":835,"y":426,"wires":[[]]},{"id":"2cb389f04e3d2a15","type":"comment","z":"1b100f4cd74cc6f3","name":"Replace Function with this!","info":"This function below is a much neater version of the function I went through in the video.\n\nHuge shout out to TheHellis for this, much better and simpler way of dealing with time!","x":787,"y":393,"wires":[]},{"id":"aa0e5a64683115f4","type":"moment","z":"1b100f4cd74cc6f3","name":"","topic":"","input":"alarm","inputType":"msg","inTz":"Europe/Brussels","adjAmount":"30","adjType":"minutes","adjDir":"subtract","format":"HH:mm","locale":"C","output":"start","outputType":"msg","outTz":"Europe/Brussels","x":796.1428527832031,"y":494.57151222229004,"wires":[[]]},{"id":"aff93df9a8add3d1","type":"comment","z":"1b100f4cd74cc6f3","name":"Or this!","info":"","x":740.4285736083984,"y":463.14290714263916,"wires":[]},{"id":"be4e6a81.3f26e8","type":"http in","z":"57ff190c.2282f8","name":"","url":"alarm","method":"post","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["bdedaea8.fb65f","67d696c9.82cf98"]]},{"id":"bdedaea8.fb65f","type":"http response","z":"57ff190c.2282f8","name":"","statusCode":"","headers":{},"x":240,"y":200,"wires":[]},{"id":"67d696c9.82cf98","type":"switch","z":"57ff190c.2282f8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"create","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"delete","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":240,"wires":[["79f88da.f5e5874"],["b76b3a62.17a918"],["dfd6d7c.5564928"]]},{"id":"e0232474.50bef8","type":"comment","z":"57ff190c.2282f8","name":"Process RAW Data","info":"","x":590,"y":160,"wires":[]},{"id":"bde02874.6dd1e8","type":"comment","z":"57ff190c.2282f8","name":"Update Array","info":"","x":930,"y":160,"wires":[]},{"id":"6ea1fc67.571b54","type":"ui_template","z":"57ff190c.2282f8","group":"","name":"Google Pixel 3","order":2,"width":10,"height":5,"format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 800px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n\n<div>\n     \n  <div class=\"container\" ng-app=\"sortApp\">\n\n      <table>\n        <thead>\n        <tr style=\"width:100%\">\n            <td>\n          <a href=\"#\">\n            Alarm #\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.alarmDisplay - 0)'; sortReverse = !sortReverse\">\n            Time \n            <span ng-show=\"sortType == '(alarm.alarmDisplay - 0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.alarmDisplay - 0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.date - 0)'; sortReverse = !sortReverse\">\n          Date of next alarm \n            <span ng-show=\"sortType == '(alarm.date - 0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.date - 0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.date -0)'; sortReverse = !sortReverse\">\n            Repeats on\n            <span ng-show=\"sortType == '(alarm.date -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.date -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.label -0)'; sortReverse = !sortReverse\">\n            Label\n            <span ng-show=\"sortType == '(alarm.label -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.label -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'alarm.enabled'; sortReverse = !sortReverse\">\n            Status\n            <span ng-show=\"sortType == 'alarm.enabled' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'alarm.enabled' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n\n          </tr>\n          </thead>\n          <tbody>\n        <tr ng-repeat=\"user in msg.options | orderBy:sortType:sortReverse | filter:search track by $index\" ng-click=\"msg.payload = user;send(msg);\" style=\"width:100%\" flex>\n                <td><b ng-bind=\"$index+1\"></b></td>\n               <td ng-bind=\"user.alarm.alarmDisplay\"></td>\n               <td ng-bind=\"user.alarm.date\"></td>\n               <td ng-bind=\"user.alarm.daysofweekDisplay\"></td>\n               <td ng-bind=\"user.alarm.label\"></td>\n               <td ng-bind=\"user.alarm.enabled\"></td>\n         </tr>\n        </tbody>\n      </table>\n\n</div>\n</div>\n</body></html>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1400,"y":280,"wires":[[]]},{"id":"23ee2fe2.3b366","type":"function","z":"57ff190c.2282f8","name":"Pass Arrays","func":"var phone =  msg.payload.phone;\n\n//output 1\nif(phone === \"Xiaomi Mi 9\"){\n    //array clean up\n    var array = flow.get(\"alarmsMi9\");\n    var arr = array.filter(function(e){return e});\n    flow.set(\"alarmsMi9\", arr);\n    msg.options = arr;\n    return[msg, null];\n}\n\n//output 2\nif(phone === \"Google Pixel 3\"){\n    //array clean up\n    var array = flow.get(\"alarmsPixel3\");\n    var arr = array.filter(function(e){return e});\n    flow.set(\"alarmsPixel3\", arr);\n    msg.options = arr;\n    return[null, msg];\n}\n","outputs":2,"noerr":0,"x":1190,"y":240,"wires":[["441f3613.5d6738"],["6ea1fc67.571b54"]]},{"id":"441f3613.5d6738","type":"ui_template","z":"57ff190c.2282f8","group":"","name":"Xiaomi Mi 9","order":2,"width":10,"height":5,"format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 800px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n\n<div>\n     \n  <div class=\"container\" ng-app=\"sortApp\">\n\n      <table>\n        <thead>\n        <tr style=\"width:100%\">\n            <td>\n          <a href=\"#\">\n            Alarm #\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.alarmDisplay - 0)'; sortReverse = !sortReverse\">\n            Time \n            <span ng-show=\"sortType == '(alarm.alarmDisplay - 0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.alarmDisplay - 0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.date - 0)'; sortReverse = !sortReverse\">\n          Date of next alarm \n            <span ng-show=\"sortType == '(alarm.date - 0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.date - 0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.date -0)'; sortReverse = !sortReverse\">\n            Repeats on\n            <span ng-show=\"sortType == '(alarm.date -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.date -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(alarm.label -0)'; sortReverse = !sortReverse\">\n            Label\n            <span ng-show=\"sortType == '(alarm.label -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(alarm.label -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'alarm.enabled'; sortReverse = !sortReverse\">\n            Status\n            <span ng-show=\"sortType == 'alarm.enabled' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'alarm.enabled' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n\n          </tr>\n          </thead>\n          <tbody>\n        <tr ng-repeat=\"user in msg.options | orderBy:sortType:sortReverse | filter:search track by $index\" ng-click=\"msg.payload = user;send(msg);\" style=\"width:100%\" flex>\n                <td><b ng-bind=\"$index+1\"></b></td>\n               <td ng-bind=\"user.alarm.alarmDisplay\"></td>\n               <td ng-bind=\"user.alarm.date\"></td>\n               <td ng-bind=\"user.alarm.daysofweekDisplay\"></td>\n               <td ng-bind=\"user.alarm.label\"></td>\n               <td ng-bind=\"user.alarm.enabled\"></td>\n         </tr>\n        </tbody>\n      </table>\n\n</div>\n</div>\n</body></html>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1390,"y":200,"wires":[[]]},{"id":"ff1f9b31.de42b8","type":"comment","z":"57ff190c.2282f8","name":"Display info","info":"","x":1390,"y":160,"wires":[]},{"id":"d6d096db.c9fbe8","type":"function","z":"57ff190c.2282f8","name":"Delete alarm","func":"var alarmsMi9= flow.get(\"alarmsMi9\");\nvar alarmsPixel3= flow.get(\"alarmsPixel3\");\n\nvar id = msg.payload.id;\nvar phone = msg.payload.phone\n\n\nif(phone === \"Xiaomi Mi 9\"){\n    var pos = alarmsMi9.map(function(e) { return e.id; }).indexOf(id);\n    delete alarmsMi9[pos];\n    flow.set(\"alarmsMi9\", alarmsMi9);\n}\n\nif(phone === \"Google Pixel 3\"){\n    var pos = alarmsPixel3.map(function(e) { return e.id; }).indexOf(id);\n    delete alarmsPixel3[pos];\n    flow.set(\"alarmsPixel3\", alarmsPixel3);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["23ee2fe2.3b366","1571f814.42e508"]]},{"id":"669c129f.3f7b2c","type":"json","z":"57ff190c.2282f8","name":"","property":"payload","action":"obj","pretty":false,"x":790,"y":280,"wires":[["d6d096db.c9fbe8"]]},{"id":"dfd6d7c.5564928","type":"function","z":"57ff190c.2282f8","name":"Delete Process Data","func":"var x1 = msg.payload.time;\nvar phone = msg.payload.phone;\n\n// alarm ID\nvar z1 = /id=(.*?),/.exec(x1);\nvar id = parseInt(z1[1]);\n\nmsg.payload = {\"id\": id, \"phone\": phone};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["669c129f.3f7b2c"]]},{"id":"79f88da.f5e5874","type":"function","z":"57ff190c.2282f8","name":"Create Process Data","func":"var x = msg.payload.time;\nvar phone = msg.payload.phone;\n\n// alarm ID\nvar z1 = /id=(.*?),/.exec(x);\nvar id = parseInt(z1[1]);\n\n//alarm time\nvar z2 = /time=(.*?),/.exec(x);\nvar reg = /(\\d{2})-(\\d{2})-(\\d{4}) (\\d{2}):(\\d{2})/;\nvar alarm = reg.exec(z2);\nvar dateObject = new Date(  (+alarm[3]),\n                            (+alarm[1])-1, // Careful, month starts at 0!\n                            (+alarm[2]),\n                            (+alarm[4]),\n                            (+alarm[5]));\n                            \nvar year    = (+alarm[3]);\nvar month   = (+alarm[1]);\nvar day     = (+alarm[2]);\nvar hours   = (+alarm[4]);\nvar minutes = (+alarm[5]);\n\n// label length\nvar z5 = /labelLength=(.*?)\\}/.exec(x);\nvar labellength = parseInt(z5[1]);\n\n\nmsg.payload = { \"id\": id, \n                \"alarm\":   dateObject, \n                \"label\":   labellength, \n                \"year\":    year, \n                \"month\":   month, \n                \"day\":     day, \n                \"hours\":   hours, \n                \"minutes\": minutes,\n                \"phone\":   phone,\n                \"enabled\": true};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[["bc2190e9.2e0b9"]]},{"id":"3bad634d.a2ce8c","type":"function","z":"57ff190c.2282f8","name":"Create alarm","func":"var alarmsMi9= flow.get(\"alarmsMi9\");\nvar alarmsPixel3= flow.get(\"alarmsPixel3\");\n\nvar hours = msg.payload.hours;\nvar minutes = msg.payload.minutes;\nvar hoursDisplay = pad(hours);\nvar minutesDisplay = pad(minutes);\n\nvar year = msg.payload.year;\nvar month =msg.payload.month;\nvar day = msg.payload.day;\nvar daysofweek = msg.payload.daysofweek;\nvar alarmtime = msg.payload.alarm;\n\nvar label = msg.payload.label;\nvar phone = msg.payload.phone\nvar enabled = msg.payload.enabled;\nvar id = msg.payload.id;\n\n\n\nif(alarmsMi9 === undefined){\n    alarmsMi9 = [];\n}\nif(alarmsPixel3 === undefined){\n    alarmsPixel3 = [];\n}\n\n//leading zeros\nfunction pad(n) {return (n < 10) ? (\"0\" + n) : n;}\n\nif(phone === \"Xiaomi Mi 9\"){\n    var pos = alarmsMi9.map(function(e) { return e.id; }).indexOf(id);\n    if(pos === -1){\n        var a1 = {\"id\": id, \n                  \"alarm\":{ \n                    \"hours\":        hours,\n                    \"minutes\":      minutes,\n                    \"daysofweek\":   daysofweek,\n                    \"label\":        label,\n                    \"enabled\":      enabled,\n                    \"alarmDisplay\": hoursDisplay +\":\"+ minutesDisplay,\n                    \"date\":         pad(day) +\"-\"+ pad(month) +\"-\"+ year,\n                    \"alarmtime\":    alarmtime}\n        };\n        alarmsMi9.push(a1);\n        flow.set(\"alarmsMi9\", alarmsMi9);\n    }\n}\n\nif(phone === \"Google Pixel 3\"){\n    var pos = alarmsPixel3.map(function(e) { return e.id; }).indexOf(id);\n    if(pos === -1){\n        var a2 = {\"id\": id, \n                  \"alarm\":{ \n                    \"hours\":        hours,\n                    \"minutes\":      minutes,\n                    \"daysofweek\":   daysofweek,\n                    \"label\":        label,\n                    \"enabled\":      enabled,\n                    \"alarmDisplay\": hoursDisplay +\":\"+ minutesDisplay,\n                    \"date\":         pad(day) +\"-\"+ pad(month) +\"-\"+ year,\n                    \"alarmtime\":    alarmtime}\n        };\n        alarmsPixel3.push(a2);\n        flow.set(\"alarmsPixel3\", alarmsPixel3);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["23ee2fe2.3b366","1571f814.42e508"]]},{"id":"bc2190e9.2e0b9","type":"json","z":"57ff190c.2282f8","name":"","property":"payload","action":"obj","pretty":false,"x":790,"y":200,"wires":[["3bad634d.a2ce8c"]]},{"id":"b76b3a62.17a918","type":"function","z":"57ff190c.2282f8","name":"Update Process Data","func":"var x = msg.payload.time;\nvar phone = msg.payload.phone;\n\n//capture 2 update outcomes in regex groups\nvar data = x.match(/[^{]*\\{(.*?)\\}[^{]*\\{(.*?)\\}/);\nvar extractJson = x => x\n            .split(', ')\n            .map(x => x.split('='))\n            .reduce((p,c) => {\n                p[c[0]]=c[1]; \n                return p;\n            }, {});\n            \nvar prev = extractJson(data[1]);\nvar current = extractJson(data[2]);    \n\n//process daysofweek as an array\nvar days = {\n    'M':  false,\n    'T':  false,\n    'W':  false,\n    'Th': false,\n    'F':  false,\n    'Sa': false,\n    'Su': false,};\n    \ncurrent.daysOfWeek.replace(/[\\[\\]]/g, '').split(' ').forEach(x => days[x] = true);\n\n//compose the payload\nmsg.payload = { \"enabled\":    current.enabled,\n                \"id\":         parseInt(current.id, 10),\n                \"prevId\":     parseInt(prev.id, 10),\n                \"hours\":      parseInt(current.hour, 10),\n                \"minutes\":    parseInt(current.minute, 10),\n                \"daysofweek\": days,\n                \"label\":      parseInt(current.labelLength, 10),\n                \"phone\":      phone};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["3e623d9d.21f472"]]},{"id":"47395499.a0bddc","type":"function","z":"57ff190c.2282f8","name":"Update alarm","func":"var alarmsMi9    = flow.get(\"alarmsMi9\");\nvar alarmsPixel3 = flow.get(\"alarmsPixel3\");\n\nvar hours          = msg.payload.hours;\nvar minutes        = msg.payload.minutes;\nvar hoursDisplay   = pad(hours);\nvar minutesDisplay = pad(minutes);\n\nvar id         = msg.payload.id;\nvar prevId     = msg.payload.prevId;\nvar daysofweek = msg.payload.daysofweek;\nvar label      = msg.payload.label;\nvar phone      = msg.payload.phone;\nvar enabled    = msg.payload.enabled;\n\n//leading zeros\nfunction pad(n) {return (n < 10) ? (\"0\" + n) : n;}\n\nif(alarmsMi9 === undefined){\n    alarmsMi9 = [];\n}\nif(alarmsPixel3 === undefined){\n    alarmsPixel3 = [];\n}\n// get daysofweek processed as string\nvar daysAsString = Object.keys(daysofweek).filter(x => daysofweek[x]).join(' ');\n\nif(phone === \"Xiaomi Mi 9\"){\n    var pos = alarmsMi9.map(function(e) { return e.id; }).indexOf(prevId);\n    var date1 = alarmsMi9[pos].alarm.date;\n    var alarmtime = alarmsMi9[pos].alarm.alarmtime; \n    var a1 = {\"id\": id, \n              \"alarm\":{\"hours\":             hours,\n                       \"minutes\":           minutes,\n                       \"daysofweek\":        daysofweek,\n                       \"daysofweekDisplay\": daysAsString,\n                       \"label\":             label,\n                       \"enabled\":           enabled,\n                       \"alarmDisplay\":      hoursDisplay +\":\"+ minutesDisplay,\n                       \"date\":              date1,\n                       \"alarmtime\":         alarmtime}};\n                       \n    alarmsMi9[pos]= a1;\n    flow.set(\"alarmsMi9\", alarmsMi9);\n}\n\nif(phone === \"Google Pixel 3\"){\n    var pos = alarmsPixel3.map(function(e) { return e.id; }).indexOf(prevId);\n    var date2 = alarmsPixel3[pos].alarm.date;\n    var alarmtime = alarmsPixel3[pos].alarm.alarmtime; \n    var a2 = {\"id\": id, \n              \"alarm\":{\"hours\":             hours,\n                       \"minutes\":           minutes,\n                       \"daysofweek\":        daysofweek,\n                       \"daysofweekDisplay\": daysAsString,\n                       \"label\":             label,\n                       \"enabled\":           enabled,\n                       \"alarmDisplay\":      hoursDisplay +\":\"+ minutesDisplay,\n                       \"date\":              date2,\n                       \"alarmtime\":         alarmtime}};\n\n    alarmsPixel3[pos] = a2;\n    flow.set(\"alarmsPixel3\", alarmsPixel3);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":240,"wires":[["23ee2fe2.3b366","1571f814.42e508"]]},{"id":"3e623d9d.21f472","type":"json","z":"57ff190c.2282f8","name":"","property":"payload","action":"obj","pretty":false,"x":790,"y":240,"wires":[["47395499.a0bddc"]]},{"id":"c7192b7c.bde488","type":"ui_template","z":"57ff190c.2282f8","group":"","name":"","order":1,"width":0,"height":0,"format":"<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"50\" height=\"50\" viewBox=\"0 0 24 24\"><path d=\"M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM12.5 8H11v6l4.75 2.85.75-1.23-4-2.37V8zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z\"/></svg>\t\t\t\t\t\t\t\t","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1660,"y":220,"wires":[[]]},{"id":"29dc41a2.247b4e","type":"ui_template","z":"57ff190c.2282f8","group":"","name":"","order":1,"width":0,"height":0,"format":"<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"50\" height=\"50\" viewBox=\"0 0 24 24\"><path d=\"M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM12.5 8H11v6l4.75 2.85.75-1.23-4-2.37V8zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z\"/></svg>\t\t\t\t\t\t\t\t","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1660,"y":260,"wires":[[]]},{"id":"3d02ddb.2690a22","type":"comment","z":"57ff190c.2282f8","name":"Icons","info":"","x":1630,"y":180,"wires":[]},{"id":"1571f814.42e508","type":"debug","z":"57ff190c.2282f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":460,"wires":[]},{"id":"38ae2a682ba5defb","type":"server-state-changed","z":"64d0751b00952852","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.main_door_closed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":380,"y":200,"wires":[["b0d6ca3223da2fc8"],[]]},{"id":"b0d6ca3223da2fc8","type":"debug","z":"64d0751b00952852","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]}]