node-red/flows.json
[{"id":"fb1becd648bb385b","type":"tab","label":"Alarm Matilde","disabled":false,"info":"","env":[]},{"id":"64d0751b00952852","type":"tab","label":"Main Door state","disabled":false,"info":"","env":[]},{"id":"9bfccd943745bb5e","type":"tab","label":"Heating/Cooling","disabled":false,"info":"","env":[]},{"id":"d1c603e6d16595cd","type":"tab","label":"Scenes Living-room","disabled":false,"info":"","env":[]},{"id":"85eb79480a8c55ba","type":"tab","label":"Scenes Bathroom-u","disabled":false,"info":"","env":[]},{"id":"b83753b148b6abe4","type":"tab","label":"Garage - KNX","disabled":false,"info":"","env":[]},{"id":"acbefef41ff303ca","type":"tab","label":"AirQuality","disabled":false,"info":"","env":[]},{"id":"fe02feb1757bd2ef","type":"tab","label":"House state","disabled":false,"info":"","env":[]},{"id":"36a52212.74ceee","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"96ef972f74972dfd","type":"server-state-changed","z":"fb1becd648bb385b","name":"Alarm Time","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.alarm_matilde","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":90,"y":200,"wires":[["072a19d7713d0f01","f75d3fd0ffcb45ea"],[]]},{"id":"f6788eb8253d787c","type":"function","z":"fb1becd648bb385b","name":"time difference","func":"const now = Date.now();\n\nhour = (msg.time[0] + msg.time[1])\nminute = (msg.time[3] + msg.time[4])\nlet alarm = new Date(now);\nalarm.setHours(hour, minute);\n\nprepone = Math.round(msg.prepone)\nalarm.setMinutes(alarm.getMinutes() - prepone);\nalarm_time = alarm.getTime()\n\nlet td = alarm_time - now;\nif (td < 0){\n    alarm.setDate(alarm.getDate()+1);\n}\n\nif (msg.when == \"Hverdager når hjemme\"){\n    while (alarm.getDay() == 6 || alarm.getDay() == 0) alarm.setDate(alarm.getDate() + 1);\n}\n\n\n\n//alarm_time = alarm.getTime()\nconst time_difference = alarm - now;\n\nmsg.day = alarm.getDay()\nmsg.now = now\nmsg.alarm_time = alarm_time\nmsg.minute = minute\nmsg.hour = hour\nmsg.delay = time_difference\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":260,"wires":[["ef8f661d47843d84"]]},{"id":"ef8f661d47843d84","type":"delay","z":"fb1becd648bb385b","name":"wait until time","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1200,"y":300,"wires":[["234c956023544211"]]},{"id":"9703b7086f3338d3","type":"api-call-service","z":"fb1becd648bb385b","name":"Increase light","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_matilde","data":"{\"brightness_step_pct\":1}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":3070,"y":740,"wires":[[]],"icon":"node-red/light.svg"},{"id":"2fd23f03f298060b","type":"api-current-state","z":"fb1becd648bb385b","name":"Check light state","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2690,"y":740,"wires":[["b827cdabea13ba55","3e5dce132b05095f"]]},{"id":"406f735513eb9a2f","type":"switch","z":"fb1becd648bb385b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":760,"wires":[["a8cd99b3a878436a"],["1fa06f8d1bdf0575"]]},{"id":"b82d5d38f9539967","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":760,"wires":[["406f735513eb9a2f"]]},{"id":"a8cd99b3a878436a","type":"api-call-service","z":"fb1becd648bb385b","name":"turn on low","server":"36a52212.74ceee","version":3,"debugenabled":true,"service":"turn_on","entityId":"light.bedroom_matilde","data":"{\"brightness_pct\":1}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":1630,"y":660,"wires":[["fa1df4ced612da39","1fa06f8d1bdf0575"]]},{"id":"b827cdabea13ba55","type":"switch","z":"fb1becd648bb385b","name":"","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"lt","v":"255","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2910,"y":740,"wires":[["9703b7086f3338d3"]]},{"id":"f0b3050f4e4a8828","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_off","entityId":"media_player.sov_matilde","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"media_player","mergecontext":"","x":1020,"y":1440,"wires":[[]]},{"id":"0d92bfe2f35ebfd3","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1680,"y":180,"wires":[["e3b808309243f5eb"]]},{"id":"e3b808309243f5eb","type":"switch","z":"fb1becd648bb385b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1890,"y":180,"wires":[["42e562f56b6690e2"]]},{"id":"10d68d7199bc6cda","type":"server-state-changed","z":"fb1becd648bb385b","name":"Alarm Condition","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.alarm_matilde_active","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":100,"y":320,"wires":[["072a19d7713d0f01","f75d3fd0ffcb45ea"],[]]},{"id":"ca6d63b862e0693b","type":"switch","z":"fb1becd648bb385b","name":"","property":"when","propertyType":"msg","rules":[{"t":"neq","v":"Av","vt":"str"},{"t":"eq","v":"Hverdager når hjemme","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":220,"wires":[["0d92bfe2f35ebfd3","5bca7ed927b496b7"],["6d6309cd2223a344"]]},{"id":"1a68e2c099d89f6f","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":70,"y":80,"wires":[["072a19d7713d0f01","f75d3fd0ffcb45ea"]]},{"id":"42e562f56b6690e2","type":"api-call-service","z":"fb1becd648bb385b","name":"Alarm state high","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.alarm_matilde_state","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":2160,"y":180,"wires":[["06cd0cd5f42ac6ce"]]},{"id":"736698fe09dde6fe","type":"server-state-changed","z":"fb1becd648bb385b","name":"Alarm Prepone","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.alarm_matilde_duration","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":100,"y":260,"wires":[["072a19d7713d0f01","f75d3fd0ffcb45ea"],[]]},{"id":"072a19d7713d0f01","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_datetime.alarm_matilde","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":140,"wires":[["63360258c53e5f7d"],[]]},{"id":"63360258c53e5f7d","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_number.alarm_matilde_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"prepone","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":200,"wires":[["7459a6882ec5333f"],[]]},{"id":"7459a6882ec5333f","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.alarm_matilde_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"when","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":260,"wires":[["f6788eb8253d787c"],[]]},{"id":"234c956023544211","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.alarm_matilde_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"when","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":120,"wires":[["ca6d63b862e0693b"],[]]},{"id":"f75d3fd0ffcb45ea","type":"change","z":"fb1becd648bb385b","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["a9974d6cc3ec5a2a","ef8f661d47843d84"]]},{"id":"a9974d6cc3ec5a2a","type":"debug","z":"fb1becd648bb385b","name":"reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"reset","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":360,"wires":[]},{"id":"1fa06f8d1bdf0575","type":"looptimer-advanced","z":"fb1becd648bb385b","duration":"20","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":2020,"y":760,"wires":[["d6aa9f5721745377","860317467f39dab0"],[]]},{"id":"e48d10e868911543","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_number.alarm_matilde_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"prepone","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":740,"wires":[["c7a4c9bc2cbc6776"],[]]},{"id":"c7a4c9bc2cbc6776","type":"function","z":"fb1becd648bb385b","name":"","func":"\nmsg.loop = {}\nmsg.loop.maxloops=100\nmsg.loop.duration=Math.round(msg.prepone*60/msg.loop.maxloops)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":740,"wires":[["b82d5d38f9539967"]]},{"id":"e19a08781500132a","type":"server-state-changed","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.alarm_matilde_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":450,"y":1440,"wires":[["f0b3050f4e4a8828"],[]]},{"id":"443e99a67c126b37","type":"link in","z":"fb1becd648bb385b","name":"Restart flow out","links":["6d6309cd2223a344"],"x":235,"y":120,"wires":[["072a19d7713d0f01","f75d3fd0ffcb45ea"]]},{"id":"6d6309cd2223a344","type":"link out","z":"fb1becd648bb385b","name":"Restart flow in","mode":"link","links":["443e99a67c126b37"],"x":1575,"y":240,"wires":[]},{"id":"78da38eeb2c75f28","type":"comment","z":"fb1becd648bb385b","name":"Triggers","info":"","x":80,"y":160,"wires":[]},{"id":"1e54f9c04bc9bcd1","type":"comment","z":"fb1becd648bb385b","name":"Get states","info":"","x":520,"y":100,"wires":[]},{"id":"8339568ece744342","type":"comment","z":"fb1becd648bb385b","name":"Calculate time","info":"","x":1030,"y":200,"wires":[]},{"id":"0cf7fdb8b504dac2","type":"comment","z":"fb1becd648bb385b","name":"Delay function","info":"","x":1190,"y":260,"wires":[]},{"id":"cfc60ff2b69dd357","type":"comment","z":"fb1becd648bb385b","name":"Check alarm active","info":"","x":1250,"y":80,"wires":[]},{"id":"8cefa9b2af324c4c","type":"comment","z":"fb1becd648bb385b","name":"Check home state","info":"","x":1670,"y":140,"wires":[]},{"id":"26ba7e920571100b","type":"comment","z":"fb1becd648bb385b","name":"Set alarm state","info":"","x":2160,"y":120,"wires":[]},{"id":"de860fc4bdec130c","type":"comment","z":"fb1becd648bb385b","name":"Stop alarm","info":"","x":330,"y":1400,"wires":[]},{"id":"06cd0cd5f42ac6ce","type":"link out","z":"fb1becd648bb385b","name":"Start alarm in","mode":"link","links":["060dabb6a9db3348","40b309301a748a05","6206236642732fdb"],"x":2355,"y":180,"wires":[]},{"id":"55fd9d8cafc09b49","type":"comment","z":"fb1becd648bb385b","name":"Start alarm light sequence","info":"","x":370,"y":700,"wires":[]},{"id":"0b1e7fd74b205c96","type":"comment","z":"fb1becd648bb385b","name":"Radio sequence","info":"","x":340,"y":1040,"wires":[]},{"id":"d6aa9f5721745377","type":"api-current-state","z":"fb1becd648bb385b","name":"Check alarm state","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_boolean.alarm_matilde_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2270,"y":720,"wires":[["0ffed720f9babb05"],[]]},{"id":"0ffed720f9babb05","type":"switch","z":"fb1becd648bb385b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2490,"y":740,"wires":[["2fd23f03f298060b"]]},{"id":"c2ff9dcf2a620520","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1400,"y":660,"wires":[["a8cd99b3a878436a"]]},{"id":"860317467f39dab0","type":"debug","z":"fb1becd648bb385b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":800,"wires":[]},{"id":"43644d534985a11a","type":"delay","z":"fb1becd648bb385b","name":"","pauseType":"delayv","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1120,"y":1080,"wires":[["682314aecd524522"]]},{"id":"702866a039ac50a5","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"media_player.sov_matilde","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"media_player","mergecontext":"","x":1160,"y":1160,"wires":[["1950f2429d7aeb00"]]},{"id":"1950f2429d7aeb00","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"volume_set","entityId":"media_player.sov_matilde","data":"{\"volume_level\":0.3}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"media_player","mergecontext":"","x":1450,"y":1160,"wires":[["2ce8e495e304a868"]]},{"id":"2ce8e495e304a868","type":"api-call-service","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"play_media","entityId":"media_player.sov_matilde","data":"{\"media_content_id\":\"http://lyd.nrk.no/nrk_radio_p3_mp3_h\",\"media_content_type\":\"music\"}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"media_player","mergecontext":"","x":1770,"y":1160,"wires":[[]]},{"id":"f91c479bd092418a","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":1240,"wires":[["702866a039ac50a5"]]},{"id":"436ca92329e5fe9f","type":"api-current-state","z":"fb1becd648bb385b","name":"","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_number.alarm_matilde_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"prepone","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":1100,"wires":[["aab4eb7523a1d1bf"],[]]},{"id":"aab4eb7523a1d1bf","type":"function","z":"fb1becd648bb385b","name":"time difference","func":"const now = Date.now();\n\nlet alarm = new Date();\nprepone = Math.round(msg.prepone)\nalarm.setMinutes(alarm.getMinutes() + prepone);\nconst time_difference = alarm - now;\nmsg.delay = time_difference\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1080,"wires":[["43644d534985a11a","0218ab4463d69501"]]},{"id":"0218ab4463d69501","type":"debug","z":"fb1becd648bb385b","name":"Delay music","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"delay","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1000,"wires":[]},{"id":"682314aecd524522","type":"api-current-state","z":"fb1becd648bb385b","name":"Check alarm state","server":"36a52212.74ceee","version":2,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_boolean.alarm_matilde_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1390,"y":1060,"wires":[["1c6bfd7d7b77b43b"],[]]},{"id":"1c6bfd7d7b77b43b","type":"switch","z":"fb1becd648bb385b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1570,"y":1040,"wires":[["702866a039ac50a5"]]},{"id":"fa1df4ced612da39","type":"debug","z":"fb1becd648bb385b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1870,"y":620,"wires":[]},{"id":"5bca7ed927b496b7","type":"debug","z":"fb1becd648bb385b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1930,"y":240,"wires":[]},{"id":"3e5dce132b05095f","type":"debug","z":"fb1becd648bb385b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":2920,"y":860,"wires":[]},{"id":"2ec3f7a7b45f1c72","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1540,"wires":[["f0b3050f4e4a8828"]]},{"id":"3c8cf0ce12ea3085","type":"inject","z":"fb1becd648bb385b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":820,"wires":[["e48d10e868911543"]]},{"id":"6206236642732fdb","type":"link in","z":"fb1becd648bb385b","name":"Start alarm out3","links":["06cd0cd5f42ac6ce"],"x":275,"y":1100,"wires":[["436ca92329e5fe9f"]]},{"id":"40b309301a748a05","type":"link in","z":"fb1becd648bb385b","name":"Start alarm out2","links":["06cd0cd5f42ac6ce"],"x":275,"y":740,"wires":[["e48d10e868911543","cac0ea7e9c33435b"]]},{"id":"cac0ea7e9c33435b","type":"debug","z":"fb1becd648bb385b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":680,"wires":[]},{"id":"38ae2a682ba5defb","type":"server-state-changed","z":"64d0751b00952852","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.main_door_closed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":340,"wires":[["cd2cef3788219af9"],[]]},{"id":"94dbc5ef560b5377","type":"api-current-state","z":"64d0751b00952852","name":"","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.outdoor_main_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1630,"y":160,"wires":[["34868c2f54cd0427"]]},{"id":"34868c2f54cd0427","type":"switch","z":"64d0751b00952852","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1930,"y":160,"wires":[["2765e7e5ed705a0a","a3557628f86ca512","88024754a182ed2a"]]},{"id":"2765e7e5ed705a0a","type":"api-call-service","z":"64d0751b00952852","name":"Alarm state high","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.light_outdoor_main_door_boosted ","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":2140,"y":80,"wires":[[]]},{"id":"a3557628f86ca512","type":"api-current-state","z":"64d0751b00952852","name":"Check light state","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.outdoor_main_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2170,"y":160,"wires":[["5c1dabe9fdcbfc3d"]]},{"id":"5c1dabe9fdcbfc3d","type":"api-call-service","z":"64d0751b00952852","name":"Save light level","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"set_value","entityId":"input_number.light_outdoor_main_door_boosted_prelevel ","data":"{\"value\":msg.data.attributes.brightness}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"input_number","mergecontext":"","x":2360,"y":160,"wires":[[]]},{"id":"88024754a182ed2a","type":"api-call-service","z":"64d0751b00952852","name":"Increase light","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.outdoor_main_door","data":"{\"brightness_step_pct\":30}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":2110,"y":260,"wires":[[]],"icon":"node-red/light.svg"},{"id":"674a2aae36253782","type":"api-current-state","z":"64d0751b00952852","name":"","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.light_outdoor_main_door_boosted ","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":420,"wires":[["7d23aa4864c8f489"]]},{"id":"7d23aa4864c8f489","type":"switch","z":"64d0751b00952852","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":420,"wires":[["ac5ce791e383fad2","e185f2301a907b60"]]},{"id":"b4095a89f5f1af4f","type":"api-call-service","z":"64d0751b00952852","name":"turn on low","server":"36a52212.74ceee","version":3,"debugenabled":true,"service":"turn_on","entityId":"light.bedroom_matilde","data":"{\"brightness\":msg.payload}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":1790,"y":420,"wires":[[]]},{"id":"ac5ce791e383fad2","type":"api-call-service","z":"64d0751b00952852","name":"Alarm state low","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.light_outdoor_main_door_boosted ","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":1620,"y":500,"wires":[[]]},{"id":"e185f2301a907b60","type":"api-current-state","z":"64d0751b00952852","name":"pre boosted state","server":"36a52212.74ceee","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.light_outdoor_main_door_boosted_prelevel ","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1550,"y":420,"wires":[["b4095a89f5f1af4f"]]},{"id":"977773b7d8cd8645","type":"inject","z":"64d0751b00952852","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1590,"y":80,"wires":[["a3557628f86ca512"]]},{"id":"ca08f0b78a4e758b","type":"api-current-state","z":"64d0751b00952852","name":"Check light bool state","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.light_outdoor_main_door_boosted ","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":160,"wires":[["6d5133fef7fe8b14"]]},{"id":"6d5133fef7fe8b14","type":"switch","z":"64d0751b00952852","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":160,"wires":[["94dbc5ef560b5377"]]},{"id":"662da8ee7d9eeb66","type":"api-current-state","z":"64d0751b00952852","name":"","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.coridor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":240,"wires":[["defa59cf3752e87d"]]},{"id":"70643a9e78df281f","type":"api-call-service","z":"64d0751b00952852","name":"Increase light","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"light.coridor","data":"{\"brightness_pct\":msg.brightness}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":1710,"y":260,"wires":[[]],"icon":"node-red/light.svg"},{"id":"0675d8dadd619e37","type":"function","z":"64d0751b00952852","name":"","func":"let now = new Date();\n\nlet h = now.getHours()\n\nif (h >= 6 && h <= 19) {\n    msg.brightness = 100\n    msg.case = 1\n} else {\n    msg.brightness = 60\n    msg.case = 2\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":260,"wires":[["1c56cf21f251a7de"]]},{"id":"1c56cf21f251a7de","type":"switch","z":"64d0751b00952852","name":"","property":"case","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":260,"wires":[["70643a9e78df281f"],["70643a9e78df281f"]]},{"id":"defa59cf3752e87d","type":"switch","z":"64d0751b00952852","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":260,"wires":[["0675d8dadd619e37"]]},{"id":"cd2cef3788219af9","type":"switch","z":"64d0751b00952852","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":340,"wires":[["662da8ee7d9eeb66","ca08f0b78a4e758b"],["674a2aae36253782"]]},{"id":"9d80540af8075def","type":"server-state-changed","z":"9bfccd943745bb5e","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.living_area","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":300,"y":240,"wires":[["57d32462f51b1d0a","9e859bbf6c90827d"]]},{"id":"57d32462f51b1d0a","type":"switch","z":"9bfccd943745bb5e","name":"","property":"payload.current_temperature","propertyType":"msg","rules":[{"t":"lt","v":"23","vt":"num"},{"t":"gt","v":"26","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":140,"wires":[["aadfdc64a732bed9"],["f89cfb816d5c9781"]]},{"id":"aa7d661747a6f47c","type":"api-call-service","z":"9bfccd943745bb5e","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.heating_toggle_cooling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":80,"wires":[["3b46ad7a90caca48"]]},{"id":"4f406f369c67bf98","type":"api-call-service","z":"9bfccd943745bb5e","name":"","server":"36a52212.74ceee","version":3,"debugenabled":false,"service":"turn_on","entityId":"switch.heating_toggle_cooling","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","service_domain":"switch","mergecontext":"","x":1190,"y":180,"wires":[["3b46ad7a90caca48"]]},{"id":"3b46ad7a90caca48","type":"debug","z":"9bfccd943745bb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":120,"wires":[]},{"id":"cfa99cdcd695cda4","type":"poll-state","z":"9bfccd943745bb5e","name":"","server":"36a52212.74ceee","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"climate.living_area","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":300,"y":340,"wires":[["57d32462f51b1d0a","5be58473720cc4f8","9e859bbf6c90827d"]]},{"id":"5be58473720cc4f8","type":"debug","z":"9bfccd943745bb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"9e859bbf6c90827d","type":"debug","z":"9bfccd943745bb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.current_temperature","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":300,"wires":[]},{"id":"aadfdc64a732bed9","type":"switch","z":"9bfccd943745bb5e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cool","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":120,"wires":[["aa7d661747a6f47c"]]},{"id":"f89cfb816d5c9781","type":"switch","z":"9bfccd943745bb5e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":180,"wires":[["4f406f369c67bf98"]]},{"id":"d50e8eb54e637439","type":"server-state-changed","z":"d1c603e6d16595cd","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.scene_living_room_gesture","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":260,"wires":[["d6224f52b611aabb"]]},{"id":"b5200421324d2984","type":"function","z":"d1c603e6d16595cd","name":"","func":"\nlet now = new Date();\n\nlet h = now.getHours()\n\nif (h >= 6 && h <= 19) {\n    msg.brightness = 100\n    msg.case = 1\n} else if (h > 19 && h <= 24) {\n    msg.brightness = 80\n    msg.case = 2\n} else {\n    msg.brightness = 60\n    msg.case = 3\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":200,"wires":[["d5a9ea47c85fc777"]]},{"id":"1630fed92df17824","type":"switch","z":"d1c603e6d16595cd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":300,"wires":[["b5200421324d2984"],["2913dc4d570e0168"]]},{"id":"aa111d6a54fba56a","type":"api-call-service","z":"d1c603e6d16595cd","name":"turn on","server":"36a52212.74ceee","version":3,"debugenabled":true,"service":"turn_on","entityId":"light.kitchen_roof, light.kitchen_manhattan, light.kitchen_bench, light.kitchen_dining, light.living_room_tv, light.hallway_stairs, light.hallway_wall","data":"{\"brightness_pct\":msg.brightness}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":2060,"y":180,"wires":[[]]},{"id":"2913dc4d570e0168","type":"api-call-service","z":"d1c603e6d16595cd","name":"turn_off","server":"36a52212.74ceee","version":3,"debugenabled":true,"service":"turn_off","entityId":"light.kitchen_roof, light.kitchen_manhattan, light.kitchen_bench, light.kitchen_dining","data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":1600,"y":320,"wires":[[]]},{"id":"078db7aa2895b630","type":"debug","z":"d1c603e6d16595cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":180,"wires":[]},{"id":"d5a9ea47c85fc777","type":"switch","z":"d1c603e6d16595cd","name":"","property":"case","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1810,"y":180,"wires":[["aa111d6a54fba56a"],["aa111d6a54fba56a"],["aa111d6a54fba56a"]]},{"id":"9c31423e6cd4933c","type":"server-state-changed","z":"d1c603e6d16595cd","name":"","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.g_living_area","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":500,"wires":[["fc183b8c11ec50ee"]]},{"id":"fc183b8c11ec50ee","type":"switch","z":"d1c603e6d16595cd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":500,"wires":[["4b5e18e6d09db9be"],["ba2804400d639bbc"]]},{"id":"4b5e18e6d09db9be","type":"api-call-service","z":"d1c603e6d16595cd","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.scene_living_room_gesture"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":440,"wires":[[]]},{"id":"ba2804400d639bbc","type":"api-call-service","z":"d1c603e6d16595cd","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.scene_living_room_gesture"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":560,"wires":[[]]},{"id":"d6224f52b611aabb","type":"switch","z":"d1c603e6d16595cd","name":"","property":"data.run","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":260,"wires":[["1630fed92df17824","078db7aa2895b630"]]},{"id":"e023141c50677aef","type":"server-state-changed","z":"85eb79480a8c55ba","name":"","server":"36a52212.74ceee","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.scene_bathroom_u_gesture","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":350,"y":380,"wires":[["29983d97cca6c756","a7671dc7820ba3b5"]]},{"id":"29983d97cca6c756","type":"switch","z":"85eb79480a8c55ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":380,"wires":[["b1dcf8afcd6bedbc"],["040bc5f71c0d8382"]]},{"id":"b1dcf8afcd6bedbc","type":"function","z":"85eb79480a8c55ba","name":"","func":"\nlet now = new Date();\n\nlet h = now.getHours()\n\nif (h >= 6 && h <= 12) {\n    msg.brightness = 100\n    msg.case = 1\n} else if (h > 12 && h <= 24) {\n    msg.brightness = 60\n    msg.case = 2\n} else {\n    msg.brightness = 30\n    msg.case = 3\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":340,"wires":[["463dac52b57377d4","67ebac40cbb05907","18ac078875978a6c"]]},{"id":"babc1d66573a7cb1","type":"api-call-service","z":"85eb79480a8c55ba","name":"turn on","server":"36a52212.74ceee","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bathroom_u_mirror","light.bathroom_u_pend","light.bathroom_u_roof"],"data":"{\"brightness_pct\":msg.brightness}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1780,"y":260,"wires":[[]]},{"id":"040bc5f71c0d8382","type":"api-call-service","z":"85eb79480a8c55ba","name":"turn_off","server":"36a52212.74ceee","version":5,"debugenabled":true,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bathroom_u_mirror","light.bathroom_u_pend","light.bathroom_u_roof"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1080,"y":460,"wires":[[]]},{"id":"a7671dc7820ba3b5","type":"debug","z":"85eb79480a8c55ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":240,"wires":[]},{"id":"463dac52b57377d4","type":"switch","z":"85eb79480a8c55ba","name":"","property":"case","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":300,"wires":[["babc1d66573a7cb1"],["babc1d66573a7cb1"],["1b2aeeaf687d98e0"]]},{"id":"1b2aeeaf687d98e0","type":"api-call-service","z":"85eb79480a8c55ba","name":"turn on","server":"36a52212.74ceee","version":3,"debugenabled":true,"service":"turn_on","entityId":"light.bathroom_u_pend, light.bathroom_u_roof","data":"{\"brightness_pct\":msg.brightness}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"light","mergecontext":"","x":1780,"y":320,"wires":[[]]},{"id":"67ebac40cbb05907","type":"debug","z":"85eb79480a8c55ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"brightness","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":100,"wires":[]},{"id":"18ac078875978a6c","type":"debug","z":"85eb79480a8c55ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"case","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":160,"wires":[]},{"id":"d9c75545f6ba1cda","type":"server-state-changed","z":"85eb79480a8c55ba","name":"","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.g_bathroom_u","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":300,"y":640,"wires":[["5c11f6997d3a8f94"]]},{"id":"5c11f6997d3a8f94","type":"switch","z":"85eb79480a8c55ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":640,"wires":[["8b29d809391a9478"],["4822eab539948e70"]]},{"id":"8b29d809391a9478","type":"api-call-service","z":"85eb79480a8c55ba","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.scene_bathroom_u_gesture"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":580,"wires":[[]]},{"id":"4822eab539948e70","type":"api-call-service","z":"85eb79480a8c55ba","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.scene_bathroom_u_gesture"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":700,"wires":[[]]},{"id":"cd7c47b38594e499","type":"server-state-changed","z":"b83753b148b6abe4","name":"Garage down","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.gate_garage_stop","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["e105486bc214c592"]]},{"id":"e105486bc214c592","type":"switch","z":"b83753b148b6abe4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["3dd4c2c40dcfc38d"]]},{"id":"3dd4c2c40dcfc38d","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.garage_gate"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":220,"wires":[[]]},{"id":"efe63e0ee9c3a4d2","type":"server-state-changed","z":"b83753b148b6abe4","name":"Garage up","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.gate_garage_down","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":420,"wires":[["da36fdde5b8ccc95"]]},{"id":"da36fdde5b8ccc95","type":"switch","z":"b83753b148b6abe4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":420,"wires":[["97b6d3992822e22b"]]},{"id":"97b6d3992822e22b","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.garage_gate"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":420,"wires":[[]]},{"id":"da21a801b51ec605","type":"server-state-changed","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":920,"wires":[["f37a359eda1132c5"]]},{"id":"f37a359eda1132c5","type":"switch","z":"b83753b148b6abe4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"closed","vt":"str"},{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":920,"wires":[["f02ec259cabb5bda","abe0b30e2a617ec9"],["bb63a42e1b6b94a6","5b37c0d416d828c9"],["c7e06af2688d7ffa"]]},{"id":"f02ec259cabb5bda","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.gate_garage_down"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":820,"wires":[[]]},{"id":"abe0b30e2a617ec9","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.gate_garage_up"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":860,"wires":[[]]},{"id":"bb63a42e1b6b94a6","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.gate_garage_down"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":960,"wires":[[]]},{"id":"5b37c0d416d828c9","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.gate_garage_up"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":1000,"wires":[[]]},{"id":"849f0c36861bbde0","type":"server-state-changed","z":"b83753b148b6abe4","name":"Garage stop","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.gate_garage_up","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":720,"wires":[["42e63e7c2d4e459b"]]},{"id":"42e63e7c2d4e459b","type":"switch","z":"b83753b148b6abe4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":720,"wires":[["06c32d3657cb0ef1"]]},{"id":"06c32d3657cb0ef1","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.garage_gate"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":720,"wires":[[]]},{"id":"c7e06af2688d7ffa","type":"api-call-service","z":"b83753b148b6abe4","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.gate_garage_up"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":1040,"wires":[[]]},{"id":"3c24699b38a093f6","type":"server-state-changed","z":"acbefef41ff303ca","name":"","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_lvh_inn_co2","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":370,"y":320,"wires":[["dbf94409c08a8284","fe0605d507d4d264"]]},{"id":"dbf94409c08a8284","type":"switch","z":"acbefef41ff303ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"700","vt":"str"},{"t":"lt","v":"600","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":320,"wires":[["e7f213b617716c27"],["35d17f9b4fe4a140"]]},{"id":"fe0605d507d4d264","type":"debug","z":"acbefef41ff303ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"3d478b4aa4850ba9","type":"inject","z":"acbefef41ff303ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":560,"wires":[["e2834ac25c4666b6"]]},{"id":"e2834ac25c4666b6","type":"api-current-state","z":"acbefef41ff303ca","name":"","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.netatmo_lvh_inn_co2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":400,"wires":[["dbf94409c08a8284","fe0605d507d4d264"]]},{"id":"e7f213b617716c27","type":"api-current-state","z":"acbefef41ff303ca","name":"","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.systemair","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":240,"wires":[["7a7567894f003db8","833aef6baa035312"]]},{"id":"35d17f9b4fe4a140","type":"api-current-state","z":"acbefef41ff303ca","name":"","server":"36a52212.74ceee","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.systemair","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":380,"wires":[["73fc1786e02a5cd7","833aef6baa035312"]]},{"id":"73fc1786e02a5cd7","type":"switch","z":"acbefef41ff303ca","name":"","property":"data.attributes.fan_mode","propertyType":"msg","rules":[{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":380,"wires":[["569187b63b1c9ad9"]]},{"id":"7a7567894f003db8","type":"switch","z":"acbefef41ff303ca","name":"","property":"data.attributes.fan_mode","propertyType":"msg","rules":[{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Normal","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":240,"wires":[["5f6e85cc57853344","1e9927f0fd07c5d3"],["5f6e85cc57853344","1e9927f0fd07c5d3"]]},{"id":"5f6e85cc57853344","type":"api-call-service","z":"acbefef41ff303ca","name":"","server":"36a52212.74ceee","version":5,"debugenabled":true,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.systemair"],"data":"{\"fan_mode\":\"High\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1700,"y":240,"wires":[["84e35d551c90c9ac"]]},{"id":"569187b63b1c9ad9","type":"api-call-service","z":"acbefef41ff303ca","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.systemair"],"data":"{\"fan_mode\":\"Normal\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":380,"wires":[["84e35d551c90c9ac"]]},{"id":"84e35d551c90c9ac","type":"debug","z":"acbefef41ff303ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2030,"y":300,"wires":[]},{"id":"833aef6baa035312","type":"debug","z":"acbefef41ff303ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.attributes.fan_mode","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":480,"wires":[]},{"id":"1e9927f0fd07c5d3","type":"debug","z":"acbefef41ff303ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1710,"y":140,"wires":[]},{"id":"6238e26ea76f30be","type":"server-state-changed","z":"fe02feb1757bd2ef","name":"","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.house_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":220,"wires":[[]]},{"id":"e76148c02c440ea5","type":"switch","z":"fe02feb1757bd2ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Borte","vt":"str"},{"t":"eq","v":"Ferie","vt":"str"},{"t":"eq","v":"Hjemme","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":220,"wires":[["1f764c3374846c5e"],[],["0bfaea0267ae2330"]]},{"id":"1f764c3374846c5e","type":"api-call-service","z":"fe02feb1757bd2ef","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.leave_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":80,"wires":[[]]},{"id":"0bfaea0267ae2330","type":"api-call-service","z":"fe02feb1757bd2ef","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.come_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":320,"wires":[[]]},{"id":"177096b2ea963ba9","type":"server-state-changed","z":"fe02feb1757bd2ef","name":"","server":"36a52212.74ceee","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.house_states_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":780,"wires":[[]]},{"id":"98a64a83bb77a0bd","type":"switch","z":"fe02feb1757bd2ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Natt","vt":"str"},{"t":"eq","v":"Dag","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":780,"wires":[["a782845249fb3315"],["f8d1a700308e9bf1","ab8df447247152da"]]},{"id":"a782845249fb3315","type":"api-call-service","z":"fe02feb1757bd2ef","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.leave_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":580,"wires":[[]]},{"id":"f8d1a700308e9bf1","type":"api-call-service","z":"fe02feb1757bd2ef","name":"","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.come_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1000,"wires":[[]]},{"id":"ab8df447247152da","type":"api-call-service","z":"fe02feb1757bd2ef","name":"Turn on coffeemachine","server":"36a52212.74ceee","version":5,"debugenabled":false,"domain":"","service":"turn_on","areaId":["4f3da0d813d411eba04eb33f4e08ce45"],"deviceId":["395d3e7596aff6e9f064516727d47a1c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":940,"wires":[[]]}]
